.container{
    height: 100vh;
    overflow: hidden;
}
.centralContainer {
    display: flex;
    margin:5px;
    overflow-y: visible;

}

.outletContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}